#calculator {
	max-width: 500px;
	border: 1px solid #808080;
	border-radius: 10px;
	padding: 10px;
}

#calculator option {
   color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
